//breakpoint
$breakpoint-tablet: 600px;
$breakpoint-pc: 960px;

//color
$navy: #326697;
$txt-color: #000;
$tag-color: (
  'navy': #58627d,
  'pink': #ff8780,
  'mandarin': #ff7f52,
  'orange': #faa84e,
  'lightBlue': #81a1c5,
  'purple': #d0b0d6,
  'lightGreen': #c0d070
);
