{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["gulpfile.js", "gulp/**", "webpack.config.js"],
      "peerDependencies": false
    }]
  },
  "env": {
    "browser": true,
    "jquery": true
  }
}